<h2>CheckIn Tracker</h2> 

<% if user_signed_in? %>
  <p>Welcome! You are checked in.</p>
<% else %>
  <p>Please login to check in</p>
<% end %>

<p>
<%= link_to 'Log Out', destroy_user_session_path, method: :delete %> |
<%= link_to 'Log In', new_user_session_path %>
</p>
<hr>
<%= link_to 'Restaurants', restaurants_path %> | 
<%= link_to 'Sign In', sign_ins_path %> |
<%= link_to 'Sign Out', sign_outs_path %> |
