<h1>CheckIn Tracker</h1> 
<br>
<p><i>
You are currently signed in as <%= current_user.email  %>
</i></p>
<p>
<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
</p>
<br>
<hr>
<br>
<p><b>Restaurants</b></p>
  <% if can? :manage, Restaurant %>
    <p><%= link_to 'List your Restaurant', new_restaurant_path %></p>
  <% end %>
  <p><%= link_to 'View List of Restaurants', restaurants_path %></p>
<br>
<p><b>Check In @ Restaurant</b></p>
  <p><%= link_to 'CheckIn', new_sign_in_path %></p>
  <p><%= link_to 'View all CheckIns', sign_ins_path %></p>
<br>
<p><b>Feedback to the Restaurants</b></p>
  <p><%= link_to 'Feedback Form', new_feedback_path %></p>
  <p><%= link_to 'View Customer Feedback', feedbacks_path %></p>
<br>
<p><b>Account</b></p>
  <p><%= link_to 'Update Your Contact Details', edit_user_registration_path %></p>
