<h2>CheckIn Tracker</h2> 

<% if user_signed_in? %>
  <p>Welcome! Click Log In to Sign into the restaurant</p>
<% else %>
  <p>Please Log In to sign into the restaurant</p>
<% end %>

<p>
<%= link_to 'Log In', new_user_session_path %> |
<%= link_to 'Log Out', destroy_user_session_path, method: :delete %> |
</p>
<hr>
<%= link_to 'Restaurants', restaurants_path %> | 
<%= link_to 'Sign In @ Location', sign_ins_path %> |
<%= link_to 'Sign Out @ Location', sign_outs_path %> |
<%= link_to 'Update Contact Details', edit_user_registration_path %> |
