<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <p>List your restaurant on CheckIn Tracker to show your business is compliant with contact tracing.</p>
  <br>
  <div class="field">
    <i><%= form.label :restaurant_name %></i>
    <%= form.text_field :restaurant_name %>
  </div>
  <br>  
  <div class="field">
    <i><%= form.label :restaurant_address %></i>
    <%= form.text_area :restaurant_address %>
  </div>
  <br>
  <div class="field">
    <i><%= form.label :restaurant_phone %></i>
    <%= form.text_field :restaurant_phone %>
  </div>
  <br>
  <div class="field">
    <i><%= form.label :restaurant_email %></i>
    <%= form.text_field :restaurant_email %>
  </div>
  <br>
  <div class="field">
    <i><%= form.label :image %></i>
    <p>Option to upload an image or menu to showcase your restaurant</p>
    <%= form.file_field :pic %>
  </div>
  <%# Pass current user ID to restaurant created %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
<br>
<br>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
