<h1><%= @restaurant.restaurant_name %></h1>
<br>
<p>
  <strong>Address:</strong>
  <%= @restaurant.restaurant_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.restaurant_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @restaurant.restaurant_email %>
</p>
<br>
<p><%= link_to 'Back', restaurants_path %></p>

<br>
<%# <h2>SignIns</h2> %>
<%# @sign_ins.each do |s|  %>
  <%# #{ s.date_in + ", " + s.time_in } %>
<%# end %>