<%= form_with(model: sign_in, local: true) do |form| %>
  <% if sign_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sign_in.errors.count, "error") %> prohibited this sign_in from being saved:</h2>

      <ul>
        <% sign_in.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <p>Securely CheckIn to your restaurant location now.</p>
  <br>
  <div class="field">
    <i><%= form.label :restaurant %></i>
    <%# Show drop down of restaurant names in restaurants model %>
    <%= form.select "restaurant_id", options_from_collection_for_select(@restaurants, "id", "restaurant_name") %>
  </div>
  <br>
  <div class="field">
    <i><%= form.label :date %></i>
    <%= form.date_select :date_in %>
  </div>
  <br>
  <div class="field">
    <i><%= form.label :time %></i>
    <%= form.time_select :time_in %>
  </div>
  <br>
  <div class="field">
    <i><%= form.label :comments %></i>
    <%= form.text_area :in_comments %>
  </div>
  <br>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
<% end %>
