<p id="notice"><%= notice %></p>

<h1>CheckIn Records</h1>
<br>
<%= link_to 'Create a CheckIn', new_sign_in_path %>
<br>
<br>
<hr>
<br>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Restaurant</th>
      <th>Arrival Time</th>
      <th>Comments</th>
      <th>Customer</th> 
      <th colspan="3"></th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @sign_ins.each do |sign_in| %>
      <tr>
        <td><%= sign_in.date_in %></td>
        <td><%= Restaurant.find(sign_in.restaurant_id).restaurant_name %></td>
        <td><%= sign_in.time_in %></td>
        <td><%= sign_in.in_comments %></td>
        <td><%= User.find(sign_in.user_id).email %></td>
        <td><%= link_to 'Show', sign_in %></td>
        <td><%= link_to 'Edit', edit_sign_in_path(sign_in) %></td>
        <td><%= link_to 'Destroy', sign_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= link_to 'Back', root_path %>