<p id="notice"><%= notice %></p>

<h1>Sign Ins</h1>

<table>
  <thead>
    <tr>
      <th>Date in</th>
      <th>Time in</th>
      <th>In comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sign_ins.each do |sign_in| %>
      <tr>
        <td><%= sign_in.date_in %></td>
        <td><%= sign_in.time_in %></td>
        <td><%= sign_in.in_comments %></td>
        <td><%= link_to 'Show', sign_in %></td>
        <td><%= link_to 'Edit', edit_sign_in_path(sign_in) %></td>
        <td><%= link_to 'Destroy', sign_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sign In', new_sign_in_path %>
