<p id="notice"><%= notice %></p>

<p>
  <strong>Date out:</strong>
  <%= @sign_out.date_out %>
</p>

<p>
  <strong>Time out:</strong>
  <%= @sign_out.time_out %>
</p>

<p>
  <strong>Out comments:</strong>
  <%= @sign_out.out_comments %>
</p>

<%= link_to 'Edit', edit_sign_out_path(@sign_out) %> |
<%= link_to 'Back', sign_outs_path %>
